@import "https://fonts.googleapis.com/css?family=Roboto";
::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #607D8B;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-X: hidden;	
}

header {					
  color: #CFD8DC;				/*kleur van de tekst van de header*/
  background: #455A64;				/*achtergrondkleur header*/
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.3);	
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.30);
  height: 7%;					/*hoogte van de header*/
  text-align: center;	
  font-size: 300%;	
  font-weight: bold;		
  line-height: 60px;				
  white-space: nowrap;
  position:fixed;
  width:100%;
  z-index:1;
  padding-top: 10;
}

.logo {
    height:auto;
    position: fixed;   
    -webkit-filter: drop-shadow(2px 2px 2px #111);
    filter:         drop-shadow(2px 2px 2px #111); 
}

#choos{
    width:29%;
    top: 10%;
    left: 0%;

}

#sono{
    width: 15%;
    top: 33%;
    left: 8%;
}

#zeus{
    width: 20%;
    top: 66%;
    left: 5%;
}

.message {
    border-radius: 5px 5px 5px 5px;
    margin: 0px 15px 15px 0px;			/*plaats tussen de ballonnetjes*/
    padding: 10px 20px;
    position: relative;
    color: #212121;				/*kleur van de tekst*/
    font-size: 220%;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
    background-color: #CFD8DC;			/*kleur van de kleine tekstballonnetjes*/
}

.message.to {
    margin-left: 30%;				/*plaats over van de linker zijde*/
}

.timestamp {
    margin: 0;
    color: #727272;				/*kleur van het uur origineel:#ADD8FF*/
    font-size: 80%;
}

