@import "https://fonts.googleapis.com/css?family=Roboto";
::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #607D8B;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-X: hidden;	
}

header {					
  color: #CFD8DC;				/*kleur van de tekst van de header*/
  background: #455A64;				/*achtergrondkleur header*/
  box-shadow: 0 5px 10px rgba(0,0,0,0.29);	
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.30);
  height: 7%;					/*hoogte van de header*/
  text-align: center;	
  font-size: 250%;	
  font-weight: bold;		
  line-height: 50px;				
  white-space: nowrap;
  position:fixed;
  width:100%;
  z-index:1;
  padding-top: 5;
}

/*logos should fall within 5-35% width, 10-50% height*/
#logowrapper {
    width:38%;
    height:50%;
    position: fixed;
    top: 10%;
    left: 3%;
    background-color: #CFD8DC;
    box-shadow: 0 5px 10px rgba(0,0,0,0.29);	
}

.logo {
    height:auto;
    position: fixed;   
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}

#choos{
    width:29%;
    top: 10%;
    left: 0%;
}

#sono{
    width: 15%;
    top: 33%;
    left: 8%;
}

#zeus{
    width: 20%;
    top: 66%;
    left: 5%;
}

.message {
    border-radius: 5px 5px 5px 5px;
    margin: 0px 15px 15px 0px;			/*plaats tussen de ballonnetjes*/
    padding: 10px 20px;
    position: relative;
    color: #212121;				/*kleur van de tekst*/
    font-size: 150%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #CFD8DC;			/*kleur van de kleine tekstballonnetjes*/
}

.message.to {
    margin-left: 30%;				/*plaats over van de linker zijde*/
}

.timestamp {
    margin: 0;
    color: #727272;				/*kleur van het uur origineel:#ADD8FF*/
    font-size: 60%;
}

