@import "https://fonts.googleapis.com/css?family=Roboto";
::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-X: hidden;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 64px;
  white-space: nowrap;
}

nav.navbar.navbar-default.navbar-fixed-top {
  height: 64px;
  background-color: #E5E5E5;
  color: #000;
  border: 0px;
  border-radius: 0px;
}

.container.header {
  -webkit-box-shadow: 0 4px 4px -2px #000000;
     -moz-box-shadow: 0 4px 4px -2px #000000;
          box-shadow: 0 8px 10px -10px #000000;
}

html > body {
  background-color: #E5E5E5;
}

.container.content {
  margin-top: 64px;
}
#msg-wrapper {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
