.panel.panel-default {
  border-radius: 0px;
  margin: 0px;
}

.panel-body > div > span {
  font-size: 24px;
}

.panel-body > div > span.timestamp {
  margin: 0px;
  font-size: 16px;
  color: #727272;				/*kleur van het uur origineel:#ADD8FF*/
}

.thumbnail.sms {
  border: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}

div.col-md-9.messages {
  padding-left: 30px;

}
